.morgs-header-container {
    width: 100%;
    text-align: center;
    background-color: black;
}

.morgs-header {
    width: 100%;
    max-width: 1200px;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: white !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: auto !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(90, 90, 90) !important;
    /* font-family: 'Gruppo'; */
    font-family: 'Cinzel', serif;
}

#bg-darker {
    background-color: black !important;
}

.cart-nav-item{
    position: relative;
}

.item-in-cart {
    position: absolute;
    background-color: rgb(226, 226, 226);
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    border-radius: 50%;
    color: black;
    top: 10px;
    left: -5px;
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        /* padding-right: 2.5rem !important; */
        padding-left: 2.5rem !important; 
    }
}

@media screen and (max-width: 992px) {
    /* .navbar {
        display: block !important;
    } */
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100% !important;
    }
}