.mixed-media-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    margin: 100px 0 0 0;
}

.mixed-media {
    padding: 100px;
}

.mixed-media-img {
    width: 80%;
    max-width: 600px;
}

